:root {
    --main-text-color: #fff;
}


.contentspacing .albums-content-item {
    background: #181818;
    border-radius: 4px;
    padding: 16px;
    width: 148.883px;
    height: 226.883px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.albums-content-item .img-albums img {
    margin-bottom: 16px;  
    width: 148.883px;
    height: 148.883px; 
}

.albums-content-item .icon-play{
    position: absolute;
    width: 42.2px;
    height: 42.2px;
    top: 168px;
    left: 120px;
    opacity: 0;
    visibility: hidden;
}

.albums-content-item .icon-play-remain{
    position: absolute;
    width: 42.2px;
    height: 42.2px;
    top: 168px;
    left: 120px;
}

.albums-content-item:hover {
    cursor: pointer;
    background-color: #282828;
}

.albums-content-item:hover .icon-play {
    cursor: pointer;
    display: block;
    transform: translateY(-50px);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}

.icon-play-remain {
    cursor: pointer;
    display: block;
    transform: translateY(-50px);
    transition: 0.1s ease-in-out;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}

.icon-play .icon-play__button {
    border-radius: 50%;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ed760;
    border: none;
}

.icon-play-remain .icon-play__button {
    border-radius: 50%;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ed760;
    border: none;
}

.icon-play__button:hover{
    cursor: pointer;
}

.icon-play__button .react-play-icons {
    margin-left: -4px;
}

.content-albums .name-albums{
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-albums .albums-description {
    color: rgb(179, 179, 179);
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
}