:root {
    --main-text-color: #fff;
}


.main-view-container {
    min-height: calc(-673px + 100vh);
    isolation: isolate;
    padding-bottom: 32px;

}

.contentspacing {
    padding: 0 30px;

}

.contentspacing .author-content {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: auto auto auto auto auto auto auto;
    overflow-x: auto;

}

.contentspacing .author-title {
    align-content: space-between;
    align-items: center;
    color: var(--main-text-color);
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 28px;
    text-transform: none;


}


.contentspacing .author-content-item {
    background: #181818;
    border-radius: 4px;
    padding: 16px;
    width: 148.883px;
    height: 226.883px;
    display: flex;
    position: relative;
    flex-direction: column;


}

/* .author-content-item .img-artist {
    position: relative;
    
} */















