.holdsong,.holdsong-active{
    display: flex;
    color: white;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 10px;
    
}

.holdsong-active>div>p,.holdsong-active>p{
    color: #1DB954;
}

.holdsong:hover,.holdsong-active:hover{
    background-color: #2D2D2D;
    
}

.holdsong:hover .iconPlay{
    display: inline;
}

.holdsong-active .textIndex{
    display: none;
}

.holdsong:hover .textIndex{
    display: none;
}

.holdsong>div,.holdsong-active>div{
    display: flex;
    flex: 0.3;
    width: 355px;
    align-items: center;
    
}

.holdsong-active .iconPlay-pause{
    display: block;
}

.holdsong-active .iconPlay-play{
    display: none;
}


.iconPlay-pause{
    display: none;
}

.holdsong .iconPlay{
    display: none;
}


.holdsong>div>div,.holdsong-active>div>div{
    height: 27px;
    width: 23px;
    margin-right: 25px;
    margin-left: 5px;
    
}

.holdsong>div img,.holdsong-active>div img{
    height: 40px;
    width: 40px;
    margin-right: 25px;
}

.holdsong>div>div p{
    margin: 0;
    margin-left: 7px;
    
}


.holdsong>p,.holdsong-active>p{
    flex: 0.2;
    box-sizing: border-box;
    padding-top: 10px;
}
.end_holder>p{
    margin-left: 20px;
}


