    * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login-body {
    width: 100vw;
    height: 65vw;
    background-image: url("./image/Background-Login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero {
    width: 100%;
    height: 100%;
    position: absolute;
}

 .form-box {
    width: 380px;
    height: 650px;
    position: relative;
    margin: 6% auto;
    background: rgb(53, 52, 52);
    padding: 5px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 20px 9px rgb(2, 182, 253);
}

.title-spotify {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}

.logo {
    width: 250px;
    height: 42.5px;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(2, 182, 253);
    border: 1px solid rgb(43, 42, 42);
    border-radius: 10px;
}

.button-box button {
    font-weight: 600;
    color: #fff;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #00fff2, #ff00dd);
    border-radius: 10px;
    transition: .5s;
}

#btn-1 {
    top: 0;
    left: 50%;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff00dd, #00fff2);
    border-radius: 10px;
    transition: .5s;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
    left: 59px;
    color: #fff;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0; 
    border-top: 0; 
    border-right: 0;
    border-bottom: 1px solid #999; 
    outline: none;
    background: transparent;
}

.login-body ::placeholder { 
    color: #fff;
    opacity: 1;
} 

.login-body input {
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
}

.age {
    display: flex;
    justify-content: center;
    align-items: center;
}

.age .input-field {
    margin-left: 8px;
}

.sex {
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #00fff2, #ff00dd);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
} 

