.body-bar__first{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.body-bar__find{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    width: 350px;
    height: 35px;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-between;
    
}

.body-bar__find>input{
    width: 290px;
    height: 25px;
    border: none;
}

.body-bar__find>input:focus{
    outline: none;
}

.bodysearch-main{
    padding: 0 30px;
    background-color: #121212;
    /* border: 1px red solid; */
}

.bodysearch-result{
    padding: 0 30px;
    background-color: #121212;
    display: flex;
    height: 330px;
    
}
.bodysearch-result__topshow{
    flex: 0.4;
    margin-top: 15px;
    color: white;
    
}
.bodysearch-result__topshow>p{
    font-size: 150%;
    font-weight: 700;
}
.bodysearch-result__topshow>div{
    margin-top: 15px;
    padding: 15px 15px;
    background-color: #181717;
    border-radius: 3px;
    position: relative;
    
}
.bodysearch-result__topshow>div:hover{
    background-color: #282828;
}

.bodysearch-result__topshow>div>div{
    position: absolute;
    right: 25px;
    bottom: 25px;
}
.bodysearch-result__topshow>div>img{
    height: 100px;
    width: 100px;
    border-radius: 3px;
    margin-bottom: 15px;
}


.bodysearch-result__topshow>div>p{
    margin-top: 5px;
    font-size: 14px;
    color: rgb(151, 151, 151)
}

.bodysearch-result__topshow>div>p:first-of-type{
    margin-top: 15px;
    font-weight: 600;
    color: white;
    font-size: 30px;
    
}
.bodysearch-result__listshow{
    flex: 0.6;
    color: white;
    margin-top: 17px;
    padding: 0 30px;
}

.bodysearch-result__listshow>p{
    font-size: 150%;
    font-weight: 700;
}
.bodysearch-result__listshow>div{
    margin-top: 15px;
    border-radius: 3px;
}

.bodysearch-artist{
    padding: 0 30px;
    color: white;
    margin-bottom: 30px;
    height: 400px;
    background-color: #121212;
}

.bodysearch-artist>p{
    font-size: 150%;
    font-weight: 700; 
}

.bodysearch-artist>div{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
