.fowardicon{
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.arrow-icon{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #09051B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-back {
    position: absolute;
    font-size: 20px;
    color: #fff;
    left: 4px;
    cursor: pointer;
}

.arrow-forward {
    position: absolute;
    font-size: 20px;
    color: #fff;
    right: 4px;
    cursor: pointer;
}


